<nav id="main">
    <div class="container">
        <img class="brand" src="img/instructure-reverse.png" alt="Canvas Logo"/>
    </div>
</nav>

<section id="main-content">
    <!--ACTUAL CONTENT-->
    <jf-card-grid ng-init="vm.fakeCourses = 'Here are some fake courses'.split('')">
        <jf-card ng-repeat="course in vm.courses track by course.id" course="course"></jf-card>

        <jf-card ng-repeat="course in vm.fakeCourses track by $index" course="{name:'Sample Course', code: 'JMF 1101', description: 'This is a sample course card'}"></jf-card>       
    </jf-card-grid>
    
</section>